<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Account Deposit</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">
  
  

</head>

<body class="bg-dark">

  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Account Deposit</div>
      <div class="card-body">
        <form action="/depositRequest" method="post">
           <div class="form-label-group">
              <select class="form-control" name="accountNo" id="accountNo">
              	<option selected="selected">계좌 선택</option>
              	<th:block th:each="l:${list}">
              		<option th:if="${l.accountDeposit >= 1}" th:value="${l.accountNo}">[[${l.accountNo}]] 예수금현황:[[${l.accountDeposit}]]</option>
              	</th:block>
              </select>
            </div ><br>
            <div class="form-label-group">
           		<div class="form-label-group">
            		<input type="text" id="accountDeposit" name="accountDeposit" class="form-control" required="required" >
            		<label for="accountDeposit">예수금입력</label>
            	</div>
            </div>
            
          <div class="card card-login mx-auto mt-5">
     		<div class="card-header">고객정보확인</div>
      		<div class="card-body">
	         <div class="form-group">
	           <div class="form-label-group">
	             <input type="password" id="memberPw" name="memberPw" class="form-control" placeholder="Password" required="required">
	             <label for="memberPw">Password</label>
	           </div>
	         </div>
	        </div>
	      </div><br>
	      <button class="btn btn-primary btn-block" type="submit">신청</button>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" th:href="@{/index}">Index</a>
          <!-- <a class="d-block small" href="forgot-password.html">Forgot Password?</a> -->
        </div>
<!--         <div class="text-center">
          <a class="d-block small mt-3" href="register.html">Register an Account</a>
          <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
        </div> -->
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

</body>

</html>
