<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>JH 투자증권</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
  $(document).ready(function(){
		let sessionId = '[[${session.SID}]]';
		console.log(sessionId+'<--세션아이디');
		if(sessionId == ''){
			$('#goodsOrder1').attr('hidden','true');
			$('#goodsOrder2').attr('hidden','true');
			$('#goodsOrder3').attr('hidden','true');
			$('#goodsOrder4').attr('hidden','true');
			$('#goodsOrder5').attr('hidden','true');
			$('#goodsOrder6').attr('hidden','true');
			$('#goodsOrder7').attr('hidden','true');
			$('#goodsOrder8').attr('hidden','true');
			$('.form-label-group').attr('hidden','true');
		}
		
		$('.form-control').click(function(){
			
			for(let i=0; i<8; i++){
				let result = $('#accountNo'+i+' option:selected').text();
  				result = result.substr(25,result.length);
				let sum = $('#goodsprice'+i).val() * $('#orderVolume'+i).val();
  				$('#orderPrice'+i).attr('value', sum);
	  			if(result>$('#orderPrice'+i).val()){
	  				$('#goodsOrder'+i).removeAttr('disabled');
	  			}else{
	  				$('#goodsOrder'+i).attr('disabled','disabled');
	  			}
			}
			
		});
		
		$('#orderVolume1').click(function(){
			let result = $('#accountNo1 option:selected').text();
			result = result.substr(25,result.length);
			let sum = $('#goodsprice1').val() * $('#orderVolume1').val();
			$('#orderPrice1').attr('value', sum);
			if(result>sum){
				$('#goodsOrder1').removeAttr('disabled');
			}else{
				$('#goodsOrder1').attr('disabled','disabled');
			}
		});
		$('#orderVolume1').change(function(){
			let result = $('#accountNo1 option:selected').text();
			result = result.substr(25,result.length);
			let sum = $('#goodsprice1').val() * $('#orderVolume1').val();
			$('#orderPrice1').attr('value', sum);
			if(result>sum){
				$('#goodsOrder1').removeAttr('disabled');
			}else{
				$('#goodsOrder1').attr('disabled','disabled');
			}
		});
		$('#orderVolume2').click(function(){
			let result = $('#accountNo2 option:selected').text();
			result = result.substr(25,result.length);
			let sum = $('#goodsprice2').val() * $('#orderVolume2').val();
			$('#orderPrice2').attr('value', sum);
			console.log(result);
			console.log(sum);
			if(result>sum){
				$('#goodsOrder2').removeAttr('disabled');
			}else{
				$('#goodsOrder2').attr('disabled','disabled');
			}
		});
		$('#orderVolume2').change(function(){
			let result = $('#accountNo2 option:selected').text();
			result = result.substr(25,result.length);
			let sum = $('#goodsprice2').val() * $('#orderVolume2').val();
			$('#orderPrice2').attr('value', sum);
			if(result>sum){
				$('#goodsOrder2').removeAttr('disabled');
			}else{
				$('#goodsOrder2').attr('disabled','disabled');
			}
		});
		$('#orderVolume3').click(function(){
			let result = $('#accountNo3 option:selected').text();
			result = result.substr(25,result.length);
			let sum = $('#goodsprice3').val() * $('#orderVolume3').val();
			$('#orderPrice3').attr('value', sum);
			if(result>$('#orderPrice3').val()){
				$('#goodsOrder3').removeAttr('disabled');
			}else{
				$('#goodsOrder3').attr('disabled','disabled');
			}
		});
		$('#orderVolume3').change(function(){
			let result = $('#accountNo3 option:selected').text();
			result = result.substr(25,result.length);
			let sum = $('#goodsprice3').val() * $('#orderVolume3').val();
			$('#orderPrice3').attr('value', sum);
			if(result>$('#orderPrice3').val()){
				$('#goodsOrder3').removeAttr('disabled');
			}else{
				$('#goodsOrder3').attr('disabled','disabled');
			}
		});
		$('#orderVolume4').click(function(){
			let result = $('#accountNo4 option:selected').text();
			result = result.substr(25,result.length);
			let sum = $('#goodsprice4').val() * $('#orderVolume4').val();
			$('#orderPrice4').attr('value', sum);
			if(result>$('#orderPrice4').val()){
				$('#goodsOrder4').removeAttr('disabled');
			}else{
				$('#goodsOrder4').attr('disabled','disabled');
			}
		});
		$('#orderVolume4').change(function(){
			let result = $('#accountNo4 option:selected').text();
			result = result.substr(25,result.length);
			let sum = $('#goodsprice4').val() * $('#orderVolume4').val();
			$('#orderPrice4').attr('value', sum);
			if(result>$('#orderPrice4').val()){
				$('#goodsOrder4').removeAttr('disabled');
			}else{
				$('#goodsOrder4').attr('disabled','disabled');
			}
		});
		$('#orderVolume5').click(function(){
			let result = $('#accountNo5 option:selected').text();
			result = result.substr(25,result.length);
			let sum = $('#goodsprice5').val() * $('#orderVolume5').val();
			$('#orderPrice5').attr('value', sum);
			if(result>$('#orderPrice5').val()){
				$('#goodsOrder5').removeAttr('disabled');
			}else{
				$('#goodsOrder5').attr('disabled','disabled');
			}
		});
		$('#orderVolume5').change(function(){
			let result = $('#accountNo5 option:selected').text();
			result = result.substr(25,result.length);
			let sum = $('#goodsprice5').val() * $('#orderVolume5').val();
			$('#orderPrice5').attr('value', sum);
			if(result>$('#orderPrice5').val()){
				$('#goodsOrder5').removeAttr('disabled');
			}else{
				$('#goodsOrder5').attr('disabled','disabled');
			}
		});
		$('#orderVolume6').click(function(){
			let result = $('#accountNo6 option:selected').text();
			result = result.substr(25,result.length);
			let sum = $('#goodsprice6').val() * $('#orderVolume6').val();
			$('#orderPrice6').attr('value', sum);
			if(result>$('#orderPrice6').val()){
				$('#goodsOrder6').removeAttr('disabled');
			}else{
				$('#goodsOrder6').attr('disabled','disabled');
			}
		});
		$('#orderVolume6').change(function(){
			let result = $('#accountNo6 option:selected').text();
			result = result.substr(25,result.length);
			let sum = $('#goodsprice6').val() * $('#orderVolume6').val();
			$('#orderPrice6').attr('value', sum);
			if(result>$('#orderPrice6').val()){
				$('#goodsOrder6').removeAttr('disabled');
			}else{
				$('#goodsOrder6').attr('disabled','disabled');
			}
		});
		$('#orderVolume7').click(function(){
			let result = $('#accountNo7 option:selected').text();
			result = result.substr(25,result.length);
			let sum = $('#goodsprice7').val() * $('#orderVolume7').val();
			$('#orderPrice7').attr('value', sum);
			if(result>$('#orderPrice7').val()){
				$('#goodsOrder7').removeAttr('disabled');
			}else{
				$('#goodsOrder7').attr('disabled','disabled');
			}
		});
		$('#orderVolume7').change(function(){
			let result = $('#accountNo7 option:selected').text();
			result = result.substr(25,result.length);
			let sum = $('#goodsprice7').val() * $('#orderVolume7').val();
			$('#orderPrice7').attr('value', sum);
			if(result>$('#orderPrice7').val()){
				$('#goodsOrder7').removeAttr('disabled');
			}else{
				$('#goodsOrder7').attr('disabled','disabled');
			}
		});
		$('#orderVolume8').click(function(){
			let result = $('#accountNo8 option:selected').text();
			result = result.substr(25,result.length);
			let sum = $('#goodsprice8').val() * $('#orderVolume8').val();
			$('#orderPrice8').attr('value', sum);
			if(result>$('#orderPrice8').val()){
				$('#goodsOrder8').removeAttr('disabled');
			}else{
				$('#goodsOrder8').attr('disabled','disabled');
			}
		});
		$('#orderVolume8').change(function(){
			let result = $('#accountNo8 option:selected').text();
			result = result.substr(25,result.length);
			let sum = $('#goodsprice8').val() * $('#orderVolume8').val();
			$('#orderPrice8').attr('value', sum);
			if(result>$('#orderPrice8').val()){
				$('#goodsOrder8').removeAttr('disabled');
			}else{
				$('#goodsOrder8').attr('disabled','disabled');
			}
		});
	});  	
  </script>

</head>

<body id="page-top">
  
  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="/index">
    	<i class="fas fa-jands-helping"></i>
    	<span>JH 투자증권</span>
    </a>
    <!-- Navbar -->
    <ul class="navbar-nav ml-auto mr-0 mr-md-3 my-2 my-md-0">
      
      <th:block th:if="${session.SID == null}">
		<li class="nav-item dropdown no-arrow">
	      	<a class="nav-link dropdown-toggle" th:href="@{/login}">
	      		<i class="far fa-user"></i>
      			<span>로그인</span>
	      	</a>
      	</li>
	    <li class="nav-item dropdown no-arrow">
	      	<a class="nav-link dropdown-toggle" th:href="@{/register}">
	      		<i class="far fa-lightbulb"></i>
      			<span>회원가입</span>
	      	</a>
	    </li>      
      </th:block>
      <th:block th:unless="${session.SID == null}">
	      <li class="nav-item dropdown no-arrow">
	      	 <a class="nav-link dropdown-toggle" href="" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          		<i class="fas fa-user-circle fa-fw"></i>   	  
          		<span>로그인하셨습니다.</span>
        	</a>
        	<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
	          <a class="dropdown-item" href="/accountRequest">계좌신청하기</a>
	          <th:block th:if="${session.SACCOUNTRECOGNIZE > 0}">
	          	<a class="dropdown-item" href="/accountDeposit">계좌별 예수금 입금</a>
	          </th:block>
	          <!-- <a class="dropdown-item" href="#">계좌별 예치금 </a> -->
	          <div class="dropdown-divider"></div>
	          <a class="dropdown-item" href="/logout" data-toggle="modal" data-target="#logoutModal" >Logout</a>
	        </div>
	      </li>
      </th:block>
      <!-- <li class="nav-item dropdown no-arrow">
      	<span class="nav-link dropdown-toggle">로그인하셨습니다.</span>
      </li>
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-circle fa-fw"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
          <a class="dropdown-item" href="#">계좌신청하기</a>
          <a class="dropdown-item" href="#">계좌별 예치금 </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
        </div>
      </li> -->
    </ul>

  </nav>

  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/financialIssues">
          <i class="fas fa-fw fa-list"></i>
          <span>금융상품</span>
        </a>
      </li>
      
      <li class="nav-item active">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#jusic">
          <i class="fas fa-fw fa-shopping-cart" ></i>
          <span>주식선물옵션</span>
        </a>
        		<!-- eset	 Modal-->
		<div class="modal fade" id="jusic" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		    <div class="modal-dialog" role="document">
		      <div class="modal-content">
		        <div class="modal-header">  
		        <i class="fas fa-bell" ></i>
		          <h5 class="modal-title" id="exampleModalLabel">주식선물옵션</h5>
			          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
			            <span aria-hidden="true">×</span>
			          </button>
		        </div>
			    <form action="/goodsOrder" method="post">
			        <div class="modal-body">준비중입니다. 더 좋은 상품으로 보답하겠습니다.</div>
		     	</form>
		     	<div class="form-group">
		     		<div class="text-center">
          				<a class="d-block small mt-3" th:href="@{/index}">Index</a>
          <!-- <a class="d-block small" href="forgot-password.html">Forgot Password?</a> -->
        			</div>
        		</div>
		      </div>
		    </div>    	
		 </div>
      </li>
      
     <li class="nav-item active">
        <a class="nav-link" href="/index" data-toggle="modal" data-target="#gogaek">
          <i class="fas fa-fw fa-comments" ></i>
          <span>고객센터</span>
        </a>
                		<!-- gogaek	 Modal-->
		<div class="modal fade" id="gogaek" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		    <div class="modal-dialog" role="document">
		      <div class="modal-content">
		        <div class="modal-header">
		        	<i class="fas fa-bell" ></i>
			          <h5 class="modal-title" id="exampleModalLabel">고객센터</h5>
			          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
			            <span aria-hidden="true">×</span>
			          </button>
		        </div>
			    <form action="/goodsOrder" method="post">
			    	<div class="modal-body">대표전화 : 02-6114-0114</div>
			        <div class="modal-body">고객센터 1588-6611</div>
			        <div class="modal-body">주문전용 1566-6611</div>
			        <div class="modal-body">ARS 1588-6000</div> 
			        <div class="modal-body">서울특별시 영등포구 여의나루로50(여의도동) KB증권</div> 
		     	</form>
		      	<div class="form-group">
		     		<div class="text-center">
          				<a class="d-block small mt-3" th:href="@{/index}">Index</a>
					</div>
        		</div>
			</div>
		   </div>    
		 </div>
      </li>
<!--===============================================Login==========================================================-->      
<!--       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-fw fa-folder"></i>
          <span>Pages</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
          <h6 class="dropdown-header">Login Screens:</h6>
          <a class="dropdown-item" href="login.html">Login</a>
          <a class="dropdown-item" href="register.html">Register</a>
          <a class="dropdown-item" href="forgot-password.html">Forgot Password</a>
          <div class="dropdown-divider"></div>
          <h6 class="dropdown-header">Other Pages:</h6>
          <a class="dropdown-item" href="404.html">404 Page</a>
          <a class="dropdown-item" href="blank.html">Blank Page</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="charts.html">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Charts</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="tables.html">
          <i class="fas fa-fw fa-table"></i>
          <span>Tables</span></a>
      </li> -->
    </ul>

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        
        <ol class="breadcrumb">
        
        	<!-- <i class="fas fa-chart-area"></i> -->금융상품
        </ol>


        <!-- Icon Cards -->
        <div class="row">
<!-- 1 -->       
         <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-primary o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-comments-dollar"></i>
                </div>
               	<h4>신한BNPP</h4>
                <div class="mr-5">신한BNPP Tops Value증권자투자신탁 1[주식](종류_C-e)</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="#" data-toggle="modal" data-target="#sinhan">
                <span class="float-left">more..</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
          
        <!--   신한	 Modal -->
		<div class="modal fade" id="sinhan" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">신한BNPP Tops Value증권자투자신탁 1[주식](종류_C-e)</h5>
						<button class="close" type="button" data-dismiss="modal" aria-label="Close">
		            	<span aria-hidden="true">×</span>
						</button>
		        	</div>
					<div class="container">			        	
					<form action="/goodsOrder" method="post">
						<input type="hidden" name="itemCode" value="item1">    
						<div class="modal-body">펀드유형 : <input type="text" value="일반주식"></div>
						<div class="modal-body">운용사 : <input type="text" name="firm" value="신한BNP파리바자산운용"> </div>
						<div class="modal-body">기준가(원) :<input type="text" id="goodsprice1" value="300"> </div>
				        <div class="modal-body">평가등급 : <input type="text" name="grade" value="★★★"></div>
				        <div class="modal-body">3개월 수익률 :<input type="text" name="profit" value="5.90%"> </div>
				        <div class="modal-body">총보수 : <input type="text" name="pay" value="연 1.6000 판매0.9000% 운용0.6700% 기타0.0300%"></div>
				        <div class="modal-body">수량: &nbsp;<input type="number" id="orderVolume1" name="orderVolume" min="1" value="1"/></div>
				        <div class="modal-body">합계: &nbsp;<input type="text" id="orderPrice1" name="orderPrice" value="300" readonly="readonly" style="border: 0;"/></div>
				        <div class="form-label-group">
			              <select class="form-control" name="accountNo" id="accountNo1">
			              	<option selected="selected">계좌 선택</option>
			              	<th:block th:each="l:${list}">
			              		<option id="selectAccountNo" th:if="${l.accountDeposit >= 1}" th:value="${l.accountNo}">[[${l.accountNo}]] 예수금현황:[[${l.accountDeposit}]]</option>
			              	</th:block>
			              </select>
			            </div >
			           
			            
				        <div class="modal-footer">
				        	
							<button id="goodsOrder1" class="btn btn-primary" type="submit" disabled="disabled">주문하기</button>
							<button class="btn btn-secondary" type="button" data-dismiss="modal">닫기</button>
		      			</div>
		       	 	</form>
				</div>
			</div>
		</div>
	</div>
 <!-- 2 -->
		  <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-black bg-warning o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-hand-holding-usd"></i>
                </div>
                <h4>KB한국대표그룹</h4>
                <div class="mr-5">KB한국대표그룹주증권자투자신탁(주식)클래스E</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="#" data-toggle="modal" data-target="#KB">
                <span class="float-left">more..</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
          
        <!--   KB	 Modal -->
		  <div class="modal fade" id="KB" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		    <div class="modal-dialog" role="document">
		      <div class="modal-content">
		        <div class="modal-header">
		          <h5 class="modal-title" id="exampleModalLabel">KB한국대표그룹주증권자투자신탁(주식)클래스E</h5>
		          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
		            <span aria-hidden="true">×</span>
		          </button>
		        </div>
		        <form action="/goodsOrder" method="post">
		        	<input type="hidden" name="itemCode" value="item2">
			        <div class="modal-body">펀드유형 :<input type="text" name="fund" value="일반주식"></div>
			        <div class="modal-body">운용사 :<input type="text" name="firm" value="KB자산운용 "></div>
			        <div class="modal-body">기준가(원) : <input type="text" id="goodsprice2" value="1115"/></div>
			        <div class="modal-body">평가등급 : <input type="text" name="grade" value="★★★★"></div>
			        <div class="modal-body">3개월 수익률 :<input type="text" name="profit" value="9.73%"></div>
			        <div class="modal-body">총보수 : <input type="text" name="pay" value="연 1.7500% 판매0.9900% 운용0.7150% 기타 0.0450%"></div>
			        <div class="modal-body">수량:&nbsp;<input type="number" id="orderVolume2" name="orderVolume" min="1" value="1"/></div>
			        <div class="modal-body">합계:&nbsp;<input type="text" id="orderPrice2" name="orderPrice" value="1115" readonly="readonly" style="border: 0;"/></div>
			        <div class="form-label-group">
		              <select class="form-control" name="accountNo" id="accountNo2">
		              	<option selected="selected">계좌 선택</option>
		              	<th:block th:each="l:${list}">
		              		<option th:if="${l.accountDeposit >= 1}" th:value="${l.accountNo}">[[${l.accountNo}]] 예수금현황:[[${l.accountDeposit}]]</option>
		              	</th:block>
		              </select>
		            </div >
			        <div class="modal-footer">
						<button id="goodsOrder2" class="btn btn-primary" type="submit" disabled="disabled">주문하기</button>
						<button class="btn btn-secondary" type="button" data-dismiss="modal">닫기</button>
	      			</div>
		        </form>
		      </div>
		    </div>
		  </div>
		  
<!-- 3 --> 
		  <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-success o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-id-card"></i>
                </div>
                <h4>한국밸류</h4>
                <div class="mr-5">한국밸류10년투자100세행복증권자투자신탁(주식)(C-E)</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="#" data-toggle="modal" data-target="#korea">
                <span class="float-left">more..</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
          
        <!--   korea	 Modal -->
		  <div class="modal fade" id="korea" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		    <div class="modal-dialog" role="document">
		      <div class="modal-content">
		        <div class="modal-header">
		          <h5 class="modal-title" id="exampleModalLabel">한국밸류10년투자100세행복증권자투자신탁(주식)(C-E)</h5>
		          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
		            <span aria-hidden="true">×</span>
		          </button>
		        </div>
		        <form action="/goodsOrder" method="post">
		        	<input type="hidden" name="itemCode" value="item3">
			        <div class="modal-body">펀드유형 : <input type="text" name="fund" value="일반주식"></div>
			        <div class="modal-body">운용사 : <input type="text" name="firm" value="한국투자밸류자산운용"> </div>
			        <div class="modal-body">기준가(원) :<input type="text" id="goodsprice3" value="1274"/></div>
			        <div class="modal-body">평가등급 : <input type="text" name="grade" value="★★★★★"></div>
			        <div class="modal-body">3개월 수익률 : <input type="text" name="profit" value="3.96%"></div>
			        <div class="modal-body">총보수 : <input type="text" name="pay" value="연 1.0480% 판매0.5000% 운용0.5000% 기타 0.0480%"></div>
			        <div class="modal-body">수량:&nbsp;<input type="number" id="orderVolume3" name="orderVolume" min="1" value="1"/></div>
			        <div class="modal-body">합계:&nbsp;<input type="text" id="orderPrice3" name="orderPrice" value="1274" readonly="readonly" style="border: 0;"/></div>
			       	<div class="form-label-group">
		              <select class="form-control" name="accountNo" id="accountNo3">
		              	<option selected="selected">계좌 선택</option>
		              	<th:block th:each="l:${list}">
		              		<option th:if="${l.accountDeposit >= 1}" th:value="${l.accountNo}">[[${l.accountNo}]] 예수금현황:[[${l.accountDeposit}]]</option>
		              	</th:block>
		              </select>
		            </div >
			       	<div class="modal-footer">
						<button id="goodsOrder3" class="btn btn-primary" type="submit">주문하기</button>
						<button class="btn btn-secondary" type="button" data-dismiss="modal">닫기</button>
	      			</div>
		        </form>
		      </div>
		    </div>
		  </div>
		  
<!-- 4 -->		  
		  <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-danger o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fab fa-bitcoin"></i>
                </div>
                <h4>마이다스</h4>
                <div class="mr-5">마이다스액티브가치증권투자회사(주식)Ae</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="#" data-toggle="modal" data-target="#midas">
                <span class="float-left">more..</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
          
          <!--	midas	 Modal -->
		  <div class="modal fade" id="midas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		    <div class="modal-dialog" role="document">
		      <div class="modal-content">
		        <div class="modal-header">
		          <h5 class="modal-title" id="exampleModalLabel">마이다스액티브가치증권투자회사(주식)Ae</h5>
		          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
		            <span aria-hidden="true">×</span>
		          </button>
		        </div>
		        <form action="/goodsOrder" method="post">
		        	<input type="hidden" name="itemCode" value="item4">
			        <div class="modal-body">펀드유형 : <input type="text" name="fund" value="일반주식"></div>
			        <div class="modal-body">운용사 :<input type="text" name="firm" value="마이다스에셋자산운용"></div>
			        <div class="modal-body">기준가(원) : <input type="text" id="goodsprice4" value="1025"/></div>
			        <div class="modal-body">평가등급 :<input type="text" name="grade" value="★★★★"></div>
			        <div class="modal-body">3개월 수익률 : <input type="text" name="profit" value="13.56%"></div>
			        <div class="modal-body">총보수 : <input type="text" name="pay" value="연 0.6900% 판매0.2500% 운용0.4000% 기타 0.0400%"></div>
			        <div class="modal-body">수량:&nbsp;<input type="number" id="orderVolume4" name="orderVolume" min="1" value="1"/></div>
			        <div class="modal-body">합계:&nbsp;<input type="text" id="orderPrice4" name="orderPrice" value="1025" readonly="readonly" style="border: 0;"/></div>			        
			        <div class="form-label-group">
		              <select class="form-control" name="accountNo" id="accountNo4">
		              	<option selected="selected">계좌 선택</option>
		              	<th:block th:each="l:${list}">
		              		<option th:if="${l.accountDeposit >= 1}" th:value="${l.accountNo}">[[${l.accountNo}]] 예수금현황:[[${l.accountDeposit}]]</option>
		              	</th:block>
		              </select>
		            </div >
			        <div class="modal-footer">
						<button id="goodsOrder4" class="btn btn-primary" type="submit">주문하기</button>
						<button class="btn btn-secondary" type="button" data-dismiss="modal">닫기</button>
	      			</div>
		        </form>
		      </div>
		    </div>
		  </div>

<!-- 5 -->		  
		  <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-danger o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-comments-dollar"></i>
                </div>
                <h4>삼성</h4>
                <div class="mr-5">삼성누버거버먼차이나증권자투자신탁H[주식-재간접형]Ce</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="#" data-toggle="modal" data-target="#samsung">
                <span class="float-left">more..</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
          
       <!-- samsung Modal -->
		  <div class="modal fade" id="samsung" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		    <div class="modal-dialog" role="document">
		      <div class="modal-content">
		        <div class="modal-header">
		          <h5 class="modal-title" id="exampleModalLabel">삼성누버거버먼차이나증권자투자신탁H[주식-재간접형]Ce</h5>
		          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
		            <span aria-hidden="true">×</span>
		          </button>
		        </div>
		        <form action="/goodsOrder" method="post">
		        	<input type="hidden" name="itemCode" value="item5">		                
			        <div class="modal-body">펀드유형 : <input type="text" name="fund" value="중국주식"></div>
			        <div class="modal-body">운용사 :<input type="text" name="firm" value="삼성자산운용"></div>
					<div class="modal-body">기준가(원) : <input type="text" id="goodsprice5" value="1371"/></div>
			        <div class="modal-body">평가등급 :<input type="text" name="grade" value="★★★★"></div>
			        <div class="modal-body">3개월 수익률 :<input type="text" name="profit" value="8.92%"></div>
			        <div class="modal-body">총보수 :<input type="text" name="pay" value="연 0.8800% 판매0.5000% 운용0.3500% 기타 0.0300%"></div>
			        <div class="modal-body">수량:&nbsp;<input type="number" id="orderVolume5" name="orderVolume" min="1" value="1"/></div>
			        <div class="modal-body">합계:&nbsp;<input type="text" id="orderPrice5" name="orderPrice" value="1371" readonly="readonly" style="border: 0;"/></div>			        
			        <div class="form-label-group">
		              <select class="form-control" name="accountNo" id="accountNo5">
		              	<option selected="selected">계좌 선택</option>
		              	<th:block th:each="l:${list}">
		              		<option th:if="${l.accountDeposit >= 1}" th:value="${l.accountNo}">[[${l.accountNo}]] 예수금현황:[[${l.accountDeposit}]]</option>
		              	</th:block>
		              </select>
		            </div >
			        <div class="modal-footer">
						<button id="goodsOrder5" class="btn btn-primary" type="submit">주문하기</button>
						<button class="btn btn-secondary" type="button" data-dismiss="modal">닫기</button>
	      			</div>
		        </form>
		      </div>
		    </div>
		  </div>

<!-- 6 -->		  
		  <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-success o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-id-card"></i>
                </div>
               	<h4>AB미국</h4>
                <div class="mr-5">AB미국그로스증권투자신탁(주식-재간접형)종류형C-e</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="#" data-toggle="modal" data-target="#abus">
                <span class="float-left">more..</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
          
        <!--   ab	 Modal -->
		  <div class="modal fade" id="abus" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		    <div class="modal-dialog" role="document">
		      <div class="modal-content">
		        <div class="modal-header">
		          <h5 class="modal-title" id="exampleModalLabel">AB미국그로스증권투자신탁(주식-재간접형)종류형C-e</h5>
		          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
		            <span aria-hidden="true">×</span>
		          </button>
		        </div>
		        <form action="/goodsOrder" method="post">
		        	<input type="hidden" name="itemCode" value="item6">
			        <div class="modal-body">펀드유형 : <input type="text" name="fund" value="북미주식 "></div>
			        <div class="modal-body">운용사 : <input type="text" name="firm" value="AB자산운용"></div>
			        <div class="modal-body">기준가(원) : <input type="text" id="goodsprice6" value="1436"/></div>
			        <div class="modal-body">평가등급 :<input type="text" name="grade" value="★★★★"></div>
			        <div class="modal-body">3개월 수익률 : <input type="text" name="profit" value="8.12%"></div>
			        <div class="modal-body">총보수 : <input type="text" name="pay" value="연 1.1550% 판매0.9900% 운용0.1000% 기타 0.0650%"></div>
			        <div class="modal-body">수량:&nbsp;<input type="number" id="orderVolume6" name="orderVolume" min="1" value="1"/></div>
			        <div class="modal-body">합계:&nbsp;<input type="text" id="orderPrice6" name="orderPrice" value="1436" readonly="readonly" style="border: 0;"/></div>
			        <div class="form-label-group">
		              <select class="form-control" name="accountNo" id="accountNo6">
		              	<option selected="selected">계좌 선택</option>
		              	<th:block th:each="l:${list}">
		              		<option th:if="${l.accountDeposit >= 1}" th:value="${l.accountNo}">[[${l.accountNo}]] 예수금현황:[[${l.accountDeposit}]]</option>
		              	</th:block>
		              </select>
		            </div >
			        <div class="modal-footer">
						<button id="goodsOrder6" class="btn btn-primary" type="submit">주문하기</button>
						<button class="btn btn-secondary" type="button" data-dismiss="modal">닫기</button>
	      			</div>
		        </form>
		      </div>
		    </div>
		  </div>

<!-- 7 -->		  
  		<div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-primary o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-hand-holding-usd"></i>
                </div>
                <h4>트러스톤</h4>
                <div class="mr-5">트러스톤제갈공명연금저축증권자투자신탁[주식]Ce클래스</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="#" data-toggle="modal" data-target="#trus">
                <span class="float-left">more..</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
          
          <!-- trus	 Modal-->
		  <div class="modal fade" id="trus" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		    <div class="modal-dialog" role="document">
		      <div class="modal-content">
		        <div class="modal-header">
		          <h5 class="modal-title" id="exampleModalLabel">트러스톤제갈공명연금저축증권자투자신탁[주식]Ce클래스</h5>
		          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
		            <span aria-hidden="true">×</span>
		          </button>
		        </div>
		        <form action="/goodsOrder" method="post">
		        	<input type="hidden" name="itemCode" value="item7">
			        <div class="modal-body">펀드유형 :<input type="text" name="fund" value="일반주식"></div>
			        <div class="modal-body">운용사 : <input type="text" name="firm" value="트러스톤자산운용"></div>
			        <div class="modal-body">기준가(원) :<input type="text" id="goodsprice7" value="930"/></div>
			        <div class="modal-body">평가등급 : <input type="text" name="grade" value="★★★★★"></div>
			        <div class="modal-body">3개월 수익률 : <input type="text" name="profit" value="11.68%"></div>
			        <div class="modal-body">총보수 : <input type="text" name="pay" value="연 1.0400% 판매0.2500% 운용0.4700% 기타 0.0300%"></div>
			        <div class="modal-body">수량:&nbsp;<input type="number" id="orderVolume7" name="orderVolume" min="1" value="1"/></div>
			        <div class="modal-body">합계:&nbsp;<input type="text" id="orderPrice7" name="orderPrice" value="930" readonly="readonly" style="border: 0;"/></div>
			        <div class="form-label-group">
		              <select class="form-control" name="accountNo" id="accountNo7">
		              	<option selected="selected">계좌 선택</option>
		              	<th:block th:each="l:${list}">
		              		<option th:if="${l.accountDeposit >= 1}" th:value="${l.accountNo}">[[${l.accountNo}]] 예수금현황:[[${l.accountDeposit}]]</option>
		              	</th:block>
		              </select>
		            </div >
			        <div class="modal-footer">
						<button id="goodsOrder7" class="btn btn-primary" type="submit">주문하기</button>
						<button class="btn btn-secondary" type="button" data-dismiss="modal">닫기</button>
	      			</div>
		        </form>
		      </div>
		    </div>
		  </div>
		  
<!-- 8 -->		  
		  <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-black bg-warning o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fab fa-bitcoin"></i>
                </div>
                <h4>에셋플러스</h4>
                <div class="mr-5">에셋플러스알파로보코리아인컴증권자투자신탁 1-1(주식)종류Ae</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="#" data-toggle="modal" data-target="#eset">
                <span class="float-left">more..</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
		
		<!-- eset	 Modal-->
		<div class="modal fade" id="eset" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		    <div class="modal-dialog" role="document">
		      <div class="modal-content">
		        <div class="modal-header">
		          <h5 class="modal-title" id="exampleModalLabel">에셋플러스알파로보코리아인컴증권자투자신탁 1-1(주식)종류Ae</h5>
		          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
		            <span aria-hidden="true">×</span>
		          </button>
		        </div>
			    <form action="/goodsOrder" method="post">
			    	<input type="hidden" name="itemCode" value="item8">
			        <div class="modal-body">운용사 :<input type="text" name="firm" value="미래"></div>
			        <div class="modal-body">기준가(원) : <input type="text" id="goodsprice8" value="932"/></div>
			        <div class="modal-body">펀드유형 : <input type="text" name="fund" value="일반주식"></div>
			        <div class="modal-body">평가등급 : <input type="text" name="grade" value="★★★★★"></div>
			        <div class="modal-body">3개월 수익률 : <input type="text" name="profit" value="12.09%"></div>
			        <div class="modal-body">총보수 : <input type="text" name="pay" value="연 0.6900% 판매0.2500% 운용0.4000% 기타 0.0400%"></div>
			        <div class="modal-body">수량:&nbsp;<input type="number" id="orderVolume8" name="orderVolume" min="1" value="1"/></div>
			        <div class="modal-body">합계:&nbsp;<input type="text" id="orderPrice8" name="orderPrice" value="932" readonly="readonly" style="border: 0;"/></div>
		       		<div class="form-label-group">
		              <select class="form-control" name="accountNo" id="accountNo8">
		              	<option selected="selected">계좌 선택</option>
		              	<th:block th:each="l:${list}">
		              		<option th:if="${l.accountDeposit >= 1}" th:value="${l.accountNo}">[[${l.accountNo}]] 예수금현황:[[${l.accountDeposit}]]</option>
		              	</th:block>
		              </select>
		            </div >
		       		<div class="modal-footer">
						<button id="goodsOrder8" class="btn btn-primary" type="submit">주문하기</button>
						<button class="btn btn-secondary" type="button" data-dismiss="modal">닫기</button>
	      			</div>
		     	</form>
		      </div>
		    </div>    
		  </div>
		  
		
          

        <!-- Area Chart Example-->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-chart-area"></i>
            주식선물옵션</div>
          <div class="card-body">
            <canvas id="myAreaChart" width="100%" height="30"></canvas>
          </div>
          <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>

        
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright © JH투자증권</span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Logout</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">로그아웃하시겠습니까?</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="/logout">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Page level plugin JavaScript-->
  <script src="vendor/chart.js/Chart.min.js"></script>
  <script src="vendor/datatables/jquery.dataTables.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin.min.js"></script>

  <!-- Demo scripts for this page-->
  <script src="js/demo/datatables-demo.js"></script>
  <script src="js/demo/chart-area-demo.js"></script>

</body>

</html>
